body {
    font-family: Verdana, "Times New Romans", Tahoma, sans-serif;
    color: rebeccapurple;
    
}

.all button {
    padding: 2px 8px;
    margin: 0px auto 5px 0px;
    width: 150px;
    
}

.all {
    color: rgb(147, 219, 39);
}

.title {
    background-color: plum;
    text-align: center;
    font-size: 35px;
    color: white;
    
}


#first button {
    background-color: red;
}

#two button{
    background-color: yellow;
}

#thirt button{
    background-color: orange;
    
}

/* recipes Canelones */

#titleC, #desc, #subTitle, #subTitle2{
    background-color: pink;
}


.parrafo1, .parrafo2, .ingr, .mk {
    color: black;
    margin-bottom: 8px;
}

.imagen {
    width: 380;
    height: auto;
    border-radius: 2%;
}

